<div>
  <%= form_for @article do |f| %>
    <div class="form-row">
      <div class="form-group col-md-12">
        <%= f.label :title %>
        <%= f.text_field :title, autofoucus: true, placeholder: "Title", class: "form-control" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control"%>
      </div>
    </div>

    <%= f.submit %>
  <% end %>
</div>
<p>Find me in app/views/articles/new.html.erb</p>
