<h2 style="text-align: center"><%= @airline.name %></h2>
<div class="container">
  <%= render partial: 'airlines/airline_info', locals: { airline: @airline } %>
  <div class="airline-news">
    <%= render partial: 'airlines/airline_news', locals: { articles: @articles } %>
  </div>

  <%= link_to "Post Review", new_post_path %>

  <div class="review_all">
    <%= render partial: 'airlines/post_reviews', locals: { posts: @posts } %>
  </div>
</div>
