<h2 style="text-align: center">航空会社名:<%= @airline.name %></h2>
<div class="container">
  <div class="airline">
    <div class="airline-main-info">
      <div class="airline-info1">
        <div class="airline-content">所属アライアンス</div>
        <div class="main-info"><%= @airline.alliance %></div>
      </div>
      <div class="airline-info1">
        <div class="airline-content">マイレージサービス</div>
        <div class="main-info"><%= @airline.flyer_program %></div>
      </div>
      <div class="airline-info1">
        <div class="airline-content">設立年</div>
        <div class="main-info"><%= @airline.foundation %>年</div>
      </div>
      <div class="airline-info1">
        <div class="airline-content">航空会社の本社場所</div>
        <div class="main-info"><%= @airline.headquarters %></div>
      </div>
      <div class="airline-info1">
        <div class="airline-content">航空会社の拠点空港</div>
        <div class="main-info"><%= @airline.base %></div>
      </div>
      <div class="airline-info1">
        <div class="airline-content"><%= @airline.name %>の航空券を探す</div>
        <div class="main-info"><%= link_to "お得に航空券を探す", @airline.url %></div>
      </div>
    </div>
  </div>

  <div class="airline-summary">
    <div class="summary-title">航空会社の概要</div>
    <div class="quoted"><%= link_to "引用:Wikipedia", @overview %></div>
    <div class="summary">
      <%= simple_format(@airline.summary) %>
      <%#= simple_format(@doc) %>
      <%= simple_format(@overview) %>
    </div>
  </div>

  <!--  <div style="background-color: #CCCCCC; height: 200px; margin-top: 10px; border-radius: 10px;">-->
  <%#= @response %>

  <!--    ここにはSkyscannerAPIを使って表示している航空会社を利用した航空券の価格情報などを表示-->
  <%# <a href="http://api.travelpayouts.com/v1/airline-directions?airline_code=SU&limit=10&token=065311a18e596a9374f70b0c29b59307">API</a> %>
  <!--  </div>-->

  <div class="airline-news">
    <h2 class="news-title">【News】</h2>
    <div class="news">
      <ul>
        <% @articles.each do |article| %>
          <li><%= link_to article.text, article[:href] %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <!--  <div style="background-color: #DADADA; height: 500px; margin-top: 10px; border-radius: 10px;">-->
  <%= link_to "Post Review", new_post_path %>
  <%= render 'shared/review_form' %>
  ここにレビューを表示
  例)
  <p>利用した空港情報:</p>
  <p>利用した日時:</p>
  <p>利用したクラス:</p>
  <p>レビュー:</p>
</div>
